{% extends '@Contao/form_captcha.html.twig' %}

{% block label %}
    {{ parent() }}
    {% if this.helpText|default %}
        <p>{{ this.helpText|insert_tag_raw }}</p>
    {% endif %}
{% endblock %}
